swagger: '2.0'
info:
  title: ATM API
  description: ATM API
  version: 1.0.0
host: developer.hangseng.com
basePath: /sandbox
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /open-banking/v1.0/atms:
    get:
      tags:
        - ATM
      description: 'Information about our ATMs, including locations, available currencies, functions offered and more.'
      parameters:
        - name: ClientID
          in: header
          required: true
          type: string
          description: 'Client ID for the Third Party Provider, available after logon to the developer portal.'
        - name: ClientSecret
          in: header
          required: true
          type: string
          description: 'Client Secret for the Third Party Provider, available after logon to the developer portal.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ATMDefinitionMeta'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition400'
        '401':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition401'
        '403':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition403'
        '408':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition408'
        '429':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorDefinition429'
        '500':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition500'
        '503':
          description: System error
          schema:
            $ref: '#/definitions/ErrorDefinition503'
definitions:
  Address:
    description: ATM address information
    type: object
    properties:
      CountryCode:
        description: Country code the ATM services located
        title: CountryCode
        type: string
        pattern: '[A-Z]{2}'
      TerritoryName:
        description: Name of the territory where the ATM located
        title: TerritoryName
        type: string
        minLength: 1
        maxLength: 100
      DistrictName:
        description: Name of the district where the ATM located
        title: DistrictName
        type: string
        minLength: 1
        maxLength: 200
      PostCode:
        description: Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail
        title: PostCode
        type: string
        minLength: 1
        maxLength: 30
      LatitudeDescription:
        description: Latitude measured in decimal degrees
        title: LatitudeDescription
        type: string
        pattern: '^-?\d{1,3}\.\d{1,8}$'
      LongitudeDescription:
        description: Longitude measured in decimal degrees
        title: LongitudeDescription
        type: string
        pattern: '^-?\d{1,3}\.\d{1,8}$'
      AddressLine:
        description: 'Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text'
        title: AddressLine
        type: array
        items:
          description: Address Details
          type: string
          minLength: 1
          maxLength: 500
        maxItems: 7
  ATMServices:
    description: ATM service details
    type: object
    properties:
      RMBandForeignCurrencyATMIndicator:
        description: Indicate whether the ATM has foreign currency services
        title: RMBandForeignCurrencyATMIndicator
        type: boolean
      ExpressBankIndicator:
        description: Indicate whether the ATM has express services
        title: ExpressBankIndicator
        type: boolean
      TalkATMIndicator:
        description: Indicate whether the ATM has talk ATM services
        title: TalkATMIndicator
        type: boolean
      MachinePayIndicator:
        description: Indicate whether the ATM has machine pay services
        title: MachinePayIndicator
        type: boolean
      DisabledAccessIndicator:
        description: Indicate whether the ATM has disabled access services
        title: DisabledAccessIndicator
        type: boolean
      BusinessPayIndicator:
        description: Indicate whether the ATM has business pay services
        title: BusinessPayIndicator
        type: boolean
      RMBATMwithoutForeignCurrencyIndicator:
        description: Indicate whether the ATM has RMB services
        title: RMBATMwithoutForeignCurrencyIndicator
        type: boolean
      IndoorFacilityIndicator:
        description: Indicate whether the ATM has indoor facility services
        title: IndoorFacilityIndicator
        type: boolean
      MTRStationOfficeIndicator:
        description: Indicate whether the ATM is MTR Station ATM
        title: MTRStationOfficeIndicator
        type: boolean
      CashWithdrawalIndicator:
        description: Indicate whether the ATM has Cash Withdrawal services
        title: CashWithdrawalIndicator
        type: boolean
      CashDepositIndicator:
        description: Indicate whether the ATM has Cash Deposit services
        title: CashDepositIndicator
        type: boolean
      ChequeDepositIndicator:
        description: Indicate whether the ATM has Cheque Deposit services
        title: ChequeDepositIndicator
        type: boolean
      AutomatedTellerMachineIndicator:
        description: Indicate whether the Branch has Automated Teller Machine services
        title: AutomatedTellerMachineIndicator
        type: boolean
      AutomatedTellerMachineOperatingHour:
        description: Available time for Automated Teller Machine
        title: AutomatedTellerMachineOperatingHour
        type: boolean
      CashDepositMachineIndicator:
        description: Indicate whether the ATM has Cash Deposit Machine services
        title: CashDepositMachineIndicator
        type: boolean
      ChequeDepositMachineIndicator:
        description: Indicate whether the Branch has Cheque Deposit Machine services
        title: ChequeDepositMachineIndicator
        type: boolean
      ChequeDepositMachineCutOffTime:
        description: Available time for Cheque Deposit Machine services
        title: ChequeDepositMachineCutOffTime
        type: boolean
  OpeningHours:
    description: Opening & closing times of ATM of an organisation
    type: object
    properties:
      OpenDayDescription:
        description: Opening day description
        title: OpenDayDescription
        type: string
        enum:
          - Monday
          - Tuesday
          - Wednesday
          - Thursday
          - Friday
          - Saturday
          - Sunday
      OpenTime:
        description: ATM open time
        title: OpenTime
        type: string
      CloseTime:
        description: ATM close time
        title: CloseTime
        type: string
    required:
      - OpenDayDescription
      - OpenTime
      - CloseTime
  ATM:
    description: Information that locates and identifies a specific ATM of a financial institution
    type: object
    properties:
      ATMID:
        description: ATM Definition Information
        title: ATMID
        type: string
        minLength: 1
        maxLength: 35
      ATMName:
        description: Name by which the ATM is known and which is usually used to identify that ATM
        title: ATMName
        type: string
        minLength: 1
        maxLength: 500
      BranchName:
        description: Name by which a branch is known and which is usually used to identify that branch
        title: BranchName
        type: string
        minLength: 1
        maxLength: 500
      HotlineNumber:
        description: Hotline number
        title: HotlineNumber
        type: string
        minLength: 1
        maxLength: 100
      ATMAddress:
        $ref: '#/definitions/Address'
      ATMServices:
        $ref: '#/definitions/ATMServices'
      OpeningHours:
        type: array
        items:
          $ref: '#/definitions/OpeningHours'
        maxItems: 7
    required:
      - ATMID
      - ATMAddress
      - ATMServices
      - OpeningHours
  Brand:
    description: Brand owned by an organisation
    type: object
    properties:
      BrandName:
        description: Brand Name that an organisation uses to market its products or services to a consumer
        title: BrandName
        type: string
        minLength: 1
        maxLength: 140
      ATM:
        type: array
        items:
          $ref: '#/definitions/ATM'
    additionalProperties: false
    required:
      - BrandName
      - ATM
  ErrorDefinition400:
    title: 400 Error object
    type: object
    properties:
      status:
        type: string
        enum:
          - '400'
      title:
        type: string
        enum:
          - Bad request
      description:
        type: string
        enum:
          - You have sent a request which could not be understood.
    required:
      - status
      - title
      - description
    additionalProperties: false
  ErrorDefinition401:
    title: 401 Error object
    type: object
    properties:
      status:
        type: string
        enum:
          - '401'
      title:
        type: string
        enum:
          - Unauthorized Error
      description:
        type: string
        enum:
          - Your request could not be authenticated.
    required:
      - title
      - description
    additionalProperties: false
  ErrorDefinition403:
    title: 403 Error object
    type: object
    properties:
      status:
        type: string
        enum:
          - '403'
      title:
        type: string
        enum:
          - Forbidden Error
      description:
        type: string
        enum:
          - You do not have proper authorization to access to the requested content.
    required:
      - title
      - description
    additionalProperties: false
  ErrorDefinition408:
    title: 408 Error object
    type: object
    properties:
      status:
        type: string
        enum:
          - '408'
      title:
        type: string
        enum:
          - Client timeout
      description:
        type: string
        enum:
          - 'Your client has failed to submit a request, and a timeout has occurred.'
    required:
      - status
      - title
      - description
    additionalProperties: false
  ErrorDefinition429:
    title: 429 Error object
    type: object
    properties:
      status:
        type: string
        enum:
          - '429'
      title:
        type: string
        enum:
          - Too many requests
      description:
        type: string
        enum:
          - You have requested this resource too often. Slow down.
    required:
      - status
      - title
      - description
    additionalProperties: false
  ErrorDefinition500:
    title: 500 Error object
    type: object
    properties:
      status:
        type: string
        enum:
          - '500'
      title:
        type: string
        enum:
          - Internal server error
      description:
        type: string
        enum:
          - An error occurred on the server. No further information is available.
    required:
      - status
      - title
      - description
    additionalProperties: false
  ErrorDefinition503:
    title: 503 Error object
    type: object
    properties:
      status:
        type: string
        enum:
          - '503'
      title:
        type: string
        enum:
          - Service temporarily unavailable
      description:
        type: string
        enum:
          - The service is temporarily unavailable.
    required:
      - status
      - title
      - description
    additionalProperties: false
  ATMDefinition:
    type: object
    properties:
      Brand:
        type: array
        items:
          $ref: '#/definitions/Brand'
    required:
      - Brand
  ATMDefinitionMeta:
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/ATMDefinition'
    required:
      - data
