html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

#root {
    height: 100%;
}

/* Temp solution */
.leaflet-routing-container {
    background-color: #ffffff;
    padding: 5px 10px;
}

/* Override Leaflet */
.leaflet-popup-content {
    margin: 0
}
